<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lista-exemplos"></ion-back-button>
    </ion-buttons>
    <ion-title>Action Sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="lista-exemplos"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Action Sheet</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button expand="block" (click)="mostrar()">Mostrar Action Sheet</ion-button>
  </div>
</ion-content>
