<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lista-categoria"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="lista-categoria"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Cadastro de Categoria</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <form [formGroup]="formulario">
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input formControlName="descricao"></ion-input>
      </ion-item>
      <ion-button (click)="salvarCategoria()" [disabled]="formulario.invalid" color="success" expand="block">Salvar Categoria</ion-button>
    </form>
  </div>
</ion-content>
