<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" routerLink="/contact-add">Novo Contato</ion-button>

  <ion-list>
    <ion-card *ngFor="let item of contacts">
      <p>{{ item.contact.name }}</p>
      <p>{{ item.contact.email }}</p>
      <p>{{ item.contact.phone }}</p>
    </ion-card>
  </ion-list>
</ion-content>
