<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro de Produto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <form [formGroup]="formulario">
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input formControlName="descricao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Valor:</ion-label>
        <ion-input formControlName="valor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Marca:</ion-label>
        <ion-input formControlName="marca"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tipo:</ion-label>
        <ion-input formControlName="tipo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Quantidade:</ion-label>
        <ion-input formControlName="quantidade"></ion-input>
      </ion-item>
      <ion-button (click)="salvarProduto()" color="success" expand="block">Salvar Produto</ion-button>
    </form>
  </div>
</ion-content>
