<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lista-exemplos"></ion-back-button>
    </ion-buttons>
    <ion-title>Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="lista-exemplos"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Button</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button>Botão Normal</ion-button>
    <ion-button expand="block" color="dark">Botão Block</ion-button>
    <ion-button expand="full" color="secondary">Botão Full</ion-button>
    <ion-button fill="outline">Botão Normal Outline</ion-button>
    <ion-button fill="clear" size="large">Botão Grande Clear</ion-button>
  </div>
</ion-content>
