<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Exemplos de Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Lista de Exemplos de Componentes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button color="medium" expand="block" routerLink="/action-sheet">Action Sheet</ion-button>
    <ion-button color="light" expand="block" routerLink="/alert">Alert</ion-button>
    <ion-button color="medium" expand="block" routerLink="/badge">Badge</ion-button>
    <ion-button color="light" expand="block" routerLink="/button">Button</ion-button>
  </div>
</ion-content>
