<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página Inicial</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button color="medium" expand="block" routerLink="/contact-list">Exemplo Storage</ion-button>
    <ion-button color="tertiary" expand="block" routerLink="/revisao">Revisão</ion-button>
    <ion-button color="light" expand="block" routerLink="/revisao2">Revisão 2</ion-button>
    <ion-button color="dark" expand="block" routerLink="/lista-exemplos">Lista de Exemplos de Componentes</ion-button>
    <ion-button color="warning" expand="block" routerLink="/login">Login</ion-button>
    <ion-button color="success" expand="block" routerLink="/formulario-perfil">Cadastrar</ion-button>
    <ion-button color="danger" expand="block" routerLink="/visualizar-perfil">Ver Perfil</ion-button>
    <ion-button color="primary" expand="block" routerLink="/lista-produto">Produtos</ion-button>
    <ion-button color="secondary" expand="block" routerLink="/lista-categoria">Categorias</ion-button>
  </div>
</ion-content>
