<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lista-exemplos"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="lista-exemplos"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Checkbox</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list>
      <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label>Teste</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="secondary"></ion-checkbox>       
        <ion-label>de</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="danger"></ion-checkbox>       
        <ion-label>Checkbox</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="light"></ion-checkbox>       
        <ion-label>Várias</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="dark"></ion-checkbox>       
        <ion-label>Cores</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
